<div class="container" id="institution">
  <div class="page-header">
    <h2>学生制度</h2>
  </div>
  <p>招生就业处老师进行信息维护，学生、教师、注册的企业用户可以查看。信息更新频率比较低，一般不会变动。</p>
  <pre>
（1） 新生入学的时候，登记班级对应的合作单位（会有班级没有对接的单位），合作是三年，班级毕业之后，合作就结束，记录到目前为止，跟学校合作单位的信息
（2） 有些单位在班级毕业之后会取消，有些会一直合作下去
（3） 根据时间查询目前为止的合作单位信息（总数量、单位名称、联系人、联系电话、单位简介）
（4） 可以查询合作过的单位、参与过校企合作的班级
（5） 目前学校的校企合作是两大模式，一个是跟班级合作，第二种是实习合作 （包括就业合作）的单位
（6） 最后要统计学生实习就业率、对口率，（学生输入自己的就业单位、岗位、薪资等信息，班主任汇总，审核就业是否对口）（老师再提供纸质表格）
      </pre>

  <div class="page-header">
    <h2>教师制度</h2>
  </div>
  <p>招生就业处老师进行信息维护，学生、教师、注册的企业用户可以查看。信息更新频率比较低，一般不会变动。</p>
  <pre>
（1） 新生入学的时候，登记班级对应的合作单位（会有班级没有对接的单位），合作是三年，班级毕业之后，合作就结束，记录到目前为止，跟学校合作单位的信息
（2） 有些单位在班级毕业之后会取消，有些会一直合作下去
（3） 根据时间查询目前为止的合作单位信息（总数量、单位名称、联系人、联系电话、单位简介）
（4） 可以查询合作过的单位、参与过校企合作的班级
（5） 目前学校的校企合作是两大模式，一个是跟班级合作，第二种是实习合作 （包括就业合作）的单位
（6） 最后要统计学生实习就业率、对口率，（学生输入自己的就业单位、岗位、薪资等信息，班主任汇总，审核就业是否对口）（老师再提供纸质表格）
      </pre>

  <div class="page-header">
    <h2>兴趣小组制度</h2>
  </div>
  <p>招生就业处老师进行信息维护，学生、教师、注册的企业用户可以查看。信息更新频率比较低，一般不会变动。</p>
  <pre>
（1） 新生入学的时候，登记班级对应的合作单位（会有班级没有对接的单位），合作是三年，班级毕业之后，合作就结束，记录到目前为止，跟学校合作单位的信息
（2） 有些单位在班级毕业之后会取消，有些会一直合作下去
（3） 根据时间查询目前为止的合作单位信息（总数量、单位名称、联系人、联系电话、单位简介）
（4） 可以查询合作过的单位、参与过校企合作的班级
（5） 目前学校的校企合作是两大模式，一个是跟班级合作，第二种是实习合作 （包括就业合作）的单位
（6） 最后要统计学生实习就业率、对口率，（学生输入自己的就业单位、岗位、薪资等信息，班主任汇总，审核就业是否对口）（老师再提供纸质表格）
      </pre>
</div>
